
.ant-tabs-tab.ant-tabs-tab-active {
    color: #ca3d26 !important;
    font-weight: 500 !important;
    background: #ca3d2663 !important;
    padding: 1em !important;
  }
  
  .ant-tabs-ink-bar {
    position: absolute !important;
    background: #ca3d26 !important;
    pointer-events: none !important;
  }
  
  .ant-tabs-tab:hover {
    color: #ca3d26 !important;
  }
  
  .ant-tabs-tab {
    color: black !important;
    
  }
  

  .small-Img{
    padding: .25rem;
    border: 1px solid #ca3d26;
    border-radius: 6.25rem;
    max-width: 100%;
    height: auto;
    background: #ca3d2663;
    vertical-align: middle;
}
  