.order-button{
    /* padding: 0.03em; */
    height: 100%;
}
.order-button a{
color: #ca3d26;
background: transparent;
border: 1px solid #ca3d26;
padding: 1vw 1.6vw;
display: inline-block;
letter-spacing: 2px;
text-transform: capitalize;
font-weight: bold;
}

.order-button a:hover{
    color: white;
   background: #ca3d26;
    text-decoration: none;
}


.grid-main{
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

.grid-col-1{
    grid-row: 1;
    grid-column: 1/10;
    
}

.grid-col-2{
    grid-row: 1;
    grid-column: 7/-1;
    background: white !important;
    margin: 5em;
}