.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
   
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .slick-slider{
    z-index: -1;
  }


  .caro{
    background: url("https://images.unsplash.com/photo-1549989476-69a92fa57c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60") no-repeat scroll 0 0 / cover !important;
  }
 