@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

.sub-header {
  font-weight: bolder !important;
  text-transform: capitalize !important;
  font-family: "Lora", "Nunito", serif !important;
}

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.3px;
  line-height: 1.7em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
.link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #212324;
}

.select-color {
  color: #ca3d26;
}

a:hover,
.link:hover {
  color: #ca3d26;
}

a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}

section {
  position: relative;
}

.white-bottom::before,
.after-main::after {
  background: url("./img/bottom-white.png") repeat scroll 0 0;
  /* bottom: -5.7px; */
  content: "";
  height: 0.4em;
  left: 0;
  opacity: 1;
  position: absolute;
  width: 100%;
  transform: rotateX(180deg);
  bottom: -7px;
  transform: rotateX(180deg);
  bottom: -1px;
  top: auto;
  z-index: 1;
}

p {
  text-align: justify;
  font-family: "Nunito", serif;
}

.white-bottom::after {
  background: transparent url("./img/bottom-white.png") repeat scroll 0 0;
  content: "";
  height: 7px;
  left: 0;
  position: absolute;
  top: -7px;
  /* -webkit-transform: rotateX(360deg);
  transform: rotateX(180deg); */
  width: 100%;
  z-index: 9;
}

.header-divider {
  width: 80px;
  height: 4px;
  margin: 30px auto;
  background: #ca3d26;
}

.ant-back-top-content {
  background: #ca3d26 !important;
}

.navbar-collapse {
  /* background: #0000006b !important; */
  padding: 1em !important;
}
